<a href="https://colab.research.google.com/github/nounou-mimi/SIC_exercises/blob/main/exercises_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#EXO1
numbers = [ 286, 1562, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 327, 615, 953, 345,  399, 162, 297, 100, 146,237,999,412,426  ]
i=0
while (i<len(numbers) and numbers[i]!=100):
  if(numbers[i]%2==1):
    print(numbers[i])
  i+=1

47
907
375
823
597
327
615
953
345
399
297

In [ ]:
#EXO2
list_1 = set(["Jhon", "Adam", "Eva"])
list_2 = set(["Adam", "Green"])
result=set()
for x in list_1:
  if x not in list_2:
    result.add(x)
print(result)

{'Eva', 'Jhon'}

In [ ]:
#EXO 3
x=3.4
print(f"float?{isinstance(x,float)}")
print(f"boolean?{isinstance(x,bool)}")

float?True
boolean?False

In [ ]:
#EXO4 : time run of a program(program of EXO1)
#### time module
import time
start=time.time()
numbers = [ 286, 1562, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 327, 615, 953, 345,  399, 162, 297, 100, 146,237,999,412,426  ]
i=0
while (i<len(numbers) and numbers[i]!=100):
  if(numbers[i]%2==1):
    print(numbers[i])
  i+=1
end=time.time()
print(f"time run of this program is{end-start} seconds")

47
907
375
823
597
327
615
953
345
399
297
time run of this program is0.0009758472442626953 seconds

In [ ]:
#EXO 5
my_set={"hello","world"}
my_list=["i am nour",20]
for elem in my_list:
  my_set.add(elem)
print(my_set)

{'world', 'i am nour', 'hello', 20}

In [ ]:
#EXO 6 a set of identical items from 2 sets
set1={"a","b","c","d","e"}
set2={"a","o","u","e"}
resultset=set()
for elem in set1:
  if elem in set2:
    resultset.add(elem)
print(resultset)

{'e', 'a'}